* {
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
  align-items: center;
  gap: 30px;
}
.flexa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: beige;
}
.bigdiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.header {
  justify-content: space-between;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 1200px;
}

.box1 {
  font-size: 16px;
  height: fit-content;
}

.box2 {
  font-size: 12px;
}

.box3 {
  font-size: 18px;
  width: 20px;
  height: 20px;
}

.box4 {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box5 {
  color: gray;
  font-size: 18px;
}

.box6 {
  color: green;
  font-size: 18px;
  width: 25px;
  height: 30px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.dv2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: auto;
  background-color: #e1e1e1;
  border-radius: 15px;
  max-width: 1200px;
}

.box {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 25px;
}

.text1 {
  background-color: #d93e18;
  font-size: 12px;
  color: white;
  width: 70px;
  height: 30px;
  display: flex;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition-timing-function: linear;
  animation-duration: 3s;
  transition: width 2s;
}

.a {
  text-decoration: none;
  color: black;
}

.text1:hover {
  width: 80px;
}

.button {
  width: 55px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: aliceblue;
  color: aliceblue;
  transition-timing-function: linear;
  animation-duration: 4s;
  transition: width 2s;
}

.button:hover {
  width: 65px;
}

.text2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
.dv3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #e1e1e1;
  border-radius: 15px;
  max-width: 1200px;
  height: 400px;
}
.DV2side {
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  color: white;
}

.dv2hiddentext {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: white;
  opacity: 1 !important;
  text-align: center;
  padding: 31.5% 0px;
  visibility: hidden;
}
.dv2img {
  width: 600px;
  border-radius: 15px;
}
.DV2side:hover .dv2hiddentext {
  visibility: visible;
}

.img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

.img3 {
  width: 25px;
  height: 30px;
}

.imghover {
  transition: all 1s;
}

.imghover:hover {
  transform: rotate(30deg) scale(1.5);
}
.d1 {
  width: 300px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.d1hidden {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: white;
  opacity: 1 !important;
  text-align: center;
  padding: 45% 0px;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.d1:hover .d1hidden {
  visibility: visible;
}
.dv3text {
  width: 280px;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: auto;
}
.qrimg {
  width: 300px;
  height: 350px;
  border-radius: 15px;
}
.Dv2-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.button2 {
  width: 55px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: aliceblue;
  color: aliceblue;
}
.time {
  background-color: aliceblue;
  color: aliceblue;
  align-items: end;
}
.part3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 15px;
  max-width: 1200px;
  height: 300px;
  width: 100%;
}
.part3img {
  width: 200px;
  height: 300px;
}
.part3text {
  height: 40px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: white;
  opacity: 1 !important;
  width: fit-content;
  transition: all 1s;
}
.DV2side:hover .part3text {
  transform: translateY(-50px);
  height: 100px;
}
.DV2side:hover .part3img .glogo {
  transform: scale(1, 2);
}

.glogo {
  position: absolute;
  top: 0;
}
.eyelogo {
  position: absolute;
  bottom: 15px;
  color: aliceblue;
  width: 30px;
  height: 30px;
}
.part3header {
  max-width: 1200px;
  display: flex;
  gap: 10px;
  margin: auto;
  width: 100%;
}
.hstyle {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}
.h1style {
  color: #fff;
  padding-top: 5px;
  background-color: #00b0f4;
  border-radius: 3px;
  font-size: 18px;
}
.part4flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.part4divflex {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: auto;
  width: 100%;
}
.part4img {
  height: 35px;
  width: 25px;
}
.part4text {
  padding-top: 15px;
  color: #407ce8;
}
.part4divline {
  background-color: #407ce8;
  width: 100px;
  height: 10px;
  border-radius: 15px;
}
.part4divgrayline {
  width: 100px;
  height: 10px;
  background-color: #efefef;
  border-radius: 15px;
  animation-duration: 0.5s;
  transition: all 1s;
  transition-timing-function: linear;
}
.part4divgrayline:hover {
  background-color: #407ce8;
}
.part4right1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  margin: auto;
  max-width: 800px;
  width: 100%;
}
.part4left {
  width: 400px;
  background-color: blue;
}
.part4div {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: auto;
  max-width: 1200px;
}
.part4divright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.part4button {
  background-color: #efefef;
  width: 45px;
  height: 30px;
  margin-bottom: 25px;
  border-radius: 10px;
  border-style: none;
  margin-right: 30px;
}
.part4rightcalendar {
  padding-top: 35px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.imgpart4 {
  width: 210px;
  height: 138px;
}
.parttext {
  color: #888888;
  padding-bottom: 15px;
}
.part4right2 {
  display: flex;
  gap: 15px;
}
.part4right2text {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.part4arrow {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.votesection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 690px;
  height: 322px;
  background-color: #007aff;
  gap: 2px;
}
.voteheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 610px;
  height: 40px;
  color: aliceblue;
}
.circle {
  background-color: #fff;
  width: 20px;
  height: 15px;
  border-radius: 100%;
}
.votetb {
  display: flex;
  gap: 10px;
  background-color: hsla(0, 0%, 100%, 0.1);
  width: 545px;
  height: 75px;
  padding-left: 10px;
  color: white;
  font-size: 15px;
  align-items: center;
  justify-content: left;
  position: relative;
}
.vote1 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.vote2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  width: 30px;
  height: auto;
}
.vote3 {
  font-size: 12px;
  position: absolute;
  right: 20px;
  bottom: 5px;
}
.votetxt {
  display: flex;
  align-items: start;
}
